<title>Stock Ticker Plot</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='mystyle.css')}}'>
<div class=page>
    <head> 
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css" rel="stylesheet" type="text/css">
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css" rel="stylesheet" type="text/css">

        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.js"></script>
    </head>

    
    <body>

    <h1>This is the stock ticker you chose <br />
    
      <a href= '/index'> select another one </a>
    </h1>

      <form action="/">
      <select name="feature_name">
        {% for feature in feature_names %}
            {% if feature == current_feature_name %}
                   <option selected value="{{ feature }}">{{ feature }}</option> 
            {% else %} 
                   <option value="{{ feature }}">{{ feature }}</option> 
            {% endif %}
        {% endfor %}
      </select>
      <input type="submit">
      </form>

      {{script|safe}}
      {{div|safe}}
    </body>

  </div>
